<h2>Parachute</h2>
<div class="row">
  <div class="col-md-4">
    <form class="form-horizontal">
      <div {{bind-attr class=":form-group parachuteError:has-error"}}>
        <label for="parachuteSelect" class="col-md-4 control-label">Parachute</label>
        <div class="col-md-8">
          {{view "select" elementId="parachuteSelect" content=parachutes value=parachute class="form-control"}}
        </div>
      </div>
      {{#if isCustom}}
        <div {{bind-attr class=":form-group parachuteRadiusError:has-error"}}>
          <label for="parachuteRadius" class="col-md-4 control-label">Chute Radius</label>
          <div class="col-md-8">
            <div class="input-group">
              {{input elementId="parachuteRadius" value=parachuteRadius class="form-control"}}
              <span class="input-group-addon">{{units.length}}</span>
            </div>
          </div>
        </div>
        <div {{bind-attr class=":form-group parachuteSpillRadiusError:has-error"}}>
          <label for="parachuteSpillRadius" class="col-md-4 control-label">Vent Radius</label>
          <div class="col-md-8">
            <div class="input-group">
              {{input elementId="parachuteSpillRadius" value=parachuteSpillRadius class="form-control"}}
              <span class="input-group-addon">{{units.length}}</span>
            </div>
          </div>
        </div>
      {{/if}}
      <div {{bind-attr class=":form-group areaError:has-error"}}>
        <label for="parachuteArea" class="col-md-4 control-label">Area</label>
        <div class="col-md-8">
          <div class="input-group">
            {{input elementId="parachuteArea" value=parachuteArea class="form-control" readonly=isStatic}}
            <span class="input-group-addon">{{units.length}}<sup>2</sup></span>
          </div>
        </div>
      </div>
      <div {{bind-attr class=":form-group dragError:has-error"}}>
        <label for="parachuteDrag" class="col-md-4 control-label">Drag Coef</label>
        <div class="col-md-8">
          {{input elementId="parachuteDrag" value=parachuteDrag class="form-control" readonly=isStatic}}
        </div>
      </div>
      <div class="btn-group pull-right" role="group">
        <button class="btn btn-default" type="button" {{action "back"}}>Back</button>
        <button class="btn btn-primary" type="button" {{action "next"}}>Next</button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    Graph
  </div>
</div>
