<h2>Balloon and Payload</h2>
<div class="row">
  <div class="col-md-5">
    <form>
      <div class="form-horizontal">
        <div {{bind-attr class=":form-group gasTypeError:has-error"}}>
          <label for="gasSelect" class="col-md-3 control-label">Gas Type</label>
          <div class="col-md-9">
            {{view "select" elementId="gasSelect" content=gases value=gas class="form-control"}}
          </div>
        </div>
        <div {{bind-attr class=":form-group balloonError:has-error"}}>
          <label for="balloonSelect" class="col-md-3 control-label">Balloon</label>
          <div class="col-md-9">
            {{view "select" elementId="balloonSelect" content=balloons class="form-control" value=balloon}}
          </div>
        </div>
        <div {{bind-attr class=":form-group payloadMassError:has-error"}}>
          <label for="payloadMass" class="col-md-3 control-label">Payload Mass</label>
          <div class="col-md-9">
            <div class="input-group">
              {{input elementId="payloadMass" value=payloadMass class="form-control"}}
              <span class="input-group-addon">{{units.mass}}</span>
            </div>
          </div>
        </div>
        <div {{bind-attr class=":form-group inputValueError:has-error"}}>
          <label for="inputSelect" class="col-md-3 control-label">Parameter</label>
          <div class="col-md-5">
            {{view "select" elementId="inputSelect" content=inputOptions value=inputType class="form-control"}}
          </div>
          <div class="col-md-4">
            <div class="input-group">
              {{input elementId="inputValue" value=inputValue class="form-control"}}
              <span class="input-group-addon">{{inputUnit}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group pull-right" role="group">
        <button class="btn btn-default" type="button" {{action "back"}}>Back</button>
        <button class="btn btn-primary" type="button" {{action "next"}}>Next</button>
      </div>
    </form>
  </div>
  <div class="col-md-7">
    Graph
  </div>
</div>
