<h2>Location</h2>
<div class="row">
  <div class="col-md-4">
    <form>
      <div {{bind-attr class=":form-group searchError:has-error"}}>
        <label for="searchInput" class="control-label">Location</label>
        <div class="input-group">
          {{input elementId="searchInput" value=searchInput class="form-control" placeholder=""}}
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" {{action "search"}}>{{fa-icon searchIcon spin=searching}}</button>
          </span>
        </div>
        <span class="help-block">Address, city/state or zipcode.</span>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div {{bind-attr class=":form-group latitudeError:has-error"}}>
            <label for="latitudeInput" class="control-label">Latitude</label>
            {{input elementId="latitudeInput" value=latitudeInput class="form-control" placeholder="DD.DDDD"}}
          </div>
        </div>
        <div class="col-md-6">
          <div {{bind-attr class=":form-group longitudeError:has-error"}}>
            <label for="longitudeInput" class="control-label">Longitude</label>
            {{input elementId="longitudeInput" value=longitudeInput class="form-control" placeholder="DDD.DDDD"}}
          </div>
        </div>
      </div>
      <span class="help-block">Decimal degrees or degrees minutes seconds.</span>
      <div class="btn-group pull-right" role="group">
        <button class="btn btn-primary" type="button" {{action "next"}}>Next</button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    Map
  </div>
</div>
