<div class="page-header">
  <h1>Navigation Aid: {{id}}</h1>
</div>
<h2>{{properties.name}}</h2>
{{properties.city}}, {{properties.state}}
{{convert-coordinate geometry.latitude units.coordinate 'latitude'}},
{{convert-coordinate geometry.longitude units.coordinate 'longitude'}}
