<div class="page-header">
	<h1>Sounding</h1>
</div>
Forecast: {{forecast}}<br/>
Analysis: {{analysis}}<br/>
Location: {{loc.latitude}}, {{loc.longitude}}<br/>

{{chart-sounding data=profile units=controllers.application.units width=600 height=400}}

<table class="table">
	<thead>
		<tr>
			<th>Altitude ({{controllers.application.units.altitude}})</th>
			<th>Temperature ({{controllers.application.units.temperature}})</th>
			<th>Pressure ({{controllers.application.units.pressure}})</th>
			<th>Wind Speed ({{controllers.application.units.speed}})</th>
			<th>Wind Direction (ยบ to)</th>
		</tr>
	</thead>
	<tbody>
		{{#each level in profile}}
			<tr>
				<td>{{convert-length level.h controllers.application.units.altitude}}</td>
				<td>{{convert-temperature level.t controllers.application.units.temperature}}</td>
				<td>{{convert-pressure level.p controllers.application.units.pressure}}</td>
				<td>{{convert-speed level.ws controllers.application.units.speed}}</td>
				<td>{{round-number level.wd 0}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
