<h1>Sounding</h1>
Forecast: {{forecast}}<br/>
Analysis: {{analysis}}<br/>
Location: {{loc.latitude}}, {{loc.longitude}}<br/>

{{chart-sounding data=profile units=controllers.application.units width=600 height=400}}

<table class="table">
	<thead>
		<tr>
			<th>Altitude ({{units-unit controllers.application.units "altitude"}})</th>
			<th>Temperature ({{units-unit controllers.application.units "temperature"}})</th>
			<th>Pressure ({{units-unit controllers.application.units "pressure"}})</th>
			<th>Wind Speed ({{units-unit controllers.application.units "highSpeed"}})</th>
			<th>Wind Direction (ยบ to)</th>
		</tr>
	</thead>
	<tbody>
		{{#each level in profile}}
			<tr>
				<td>{{units-value controllers.application.units "altitude" level.h}}</td>
				<td>{{units-value controllers.application.units "temperature" level.t}}</td>
				<td>{{units-value controllers.application.units "pressure" level.p}}</td>
				<td>{{units-value controllers.application.units "highSpeed" level.ws}}</td>
				<td>{{round-number level.wd 0}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
